.dropdown {
  position: relative;
  display: flex;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  background: #fff;
  border-radius: 12px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
  gap: 28px;
  padding: 28px;

  z-index: 1000;
  // min-width: 124px;
  // height: 140px;
  opacity: 0;
  transition: background 0.2s;

  &:nth-of-type(2) {
    left: -130px;
  }

  .dropdown-item {
    width:max-content;
    display: inline-flex;
    border-radius: 37px;
    margin: 0px auto;
    gap: 8px;

    align-items: center;
    height: 48px;
    cursor: pointer;
    padding: 10px 24px;
    white-space: nowrap;

    &:hover {
      background-color: #f3f2f6;
    }

    &:focus {
      background-color: #eceaf1;
    }
    &:active {
      background-color: #e5dfed;
    }

    .item-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      img {
        width: 19px;
        height: 19px;
        color: #65558f;
      }
    }
    .item-text {
      height: 22px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      line-height: 130%;
    }
  }
}

.dropdown-menu .dropdown-item {
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-menu .dropdown-item:hover {
}

/* Коли меню відкрите */
.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
}

.user-dropdown-menu {
  background-color: black;
  left: -130px;
}

@media (max-width: 480px) {
  .dropdown-item {
    padding: 0px;
  }
}
