.productPage {
  padding: 32px 156px 84px;
  .container {
    display: flex;
    gap: 44px;
  }

  .gallery {
    width: 100%;
    max-width: 466px;
    max-height: 563px;
  }

  .info {
    max-width: 618px;
    max-height: 563px;

    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title {
    font-weight: 300;
    font-size: 44px;
    line-height: 100%;
    color: #5e4b8b;
  }
  .price {
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .rating {
    height: 32px;
    display: flex;
    align-items: center;
    .ratingStar {
      height: 32px;
      display: flex;
      align-items: center;
      gap: 4px;
      img {
        height: 25px;
      }
    }
    .ratingText {
      height: 24px;
      font-size: 20px;
      font-weight: 600;
      margin-left: 15px;
      border-bottom: 1px solid #000000;
    }
  }

  .options {
    display: flex;
    flex-direction: column;

    .fieldset {
      font-weight: 600;
      font-size: 20px;
      border-bottom: 1px solid #c7c2d6;
      padding-bottom: 16px;
      margin-bottom: 25px;

      legend {
        margin-bottom: 16px;
      }

      .colorOption {
        display: inline-block;
        margin-right: 8px;
        cursor: pointer;

        input {
          display: none; // сховати стандартний radio
        }

        span {
          display: inline-block;
          width: 50px;
          height: 50px;
          border: 2px solid transparent;
          border-radius: 6px;
        }

        input:checked + span {
          border: 2px solid #65558f;
        }
      }

      .sizeOption {
        display: inline-block;
        margin: 4px;
        input {
          display: none;
        }

        span {
          display: inline-block;
          border-radius: 8px;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #c7c2d6;
        }

        input:checked + span {
          border: 2px solid #65558f;

          font-weight: 600;
        }
      }
    }
    .buttons {
      display: flex;
      gap: 24px;
    }
    .quantitySelector {
      width: 150px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #eaddff;
      border-radius: 100px;
      padding: 4px 24px;
    }

    .qtyBtn {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }

    .qtyInput {
      width: 36px;
      height: 40px;
      text-align: center;
      border: none;
      background-color: #fff;
      border-radius: 8px;
      font-weight: 400;
      font-size: 20px;
    }

    .addToCart {
      height: 50px;
      width: 100%;
      max-width: 294px;
      border-radius: 100px;
      background-color: #65558f;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
    }

    .tabs {
      margin-top: 3rem;

      .tabNav {
      }
      .tab {
        // базові стилі
      }

      .active {
        border-bottom: 2px solid #000;
        font-weight: bold;
      }

      .tabContent {
      }
    }

    .bundle {
      margin-top: 4rem;

      .bundleTitle {
      }
    }
  }
}
