.productPage {
  .container {
    display: flex;
  }

  .gallery {
    width: 100%;
    max-width: 466px;
  }

  .info {
  }

  .title {
  }
  .price {
  }
  .rating {
  }

  .options {
    display: flex;
    flex-direction: column;

    .fieldset {
      .colorOption {
        display: inline-block;
        margin-right: 8px;
        cursor: pointer;

        input {
          display: none; // сховати стандартний radio
        }

        span {
          display: inline-block;
          width: 32px;
          height: 32px;
          border: 2px solid transparent;
          border-radius: 6px;
        }

        input:checked + span {
          border-color: #5e4b8b; // фіолетова рамка як у макеті
        }
      }

      .sizeOption {
        display: inline-block;
        margin: 4px;
        input {
          display: none;
        }

        span {
          display: inline-block;
          padding: 6px 12px;
          border: 1.5px solid #ccc;
          border-radius: 8px;
          font-size: 14px;
          font-weight: 500;
          min-width: 44px;
          text-align: center;
          transition: 0.2s ease;
        }

        input:checked + span {
          border-color: #5e4b8b;
          color: #5e4b8b;
          font-weight: 600;
        }
      }
    }
    .quantityLabel {
    }
    .quantityInput {
    }
    .addToCart {
    }

    .tabs {
      margin-top: 3rem;

      .tabNav {
      }
      .tab {
        // базові стилі
      }

      .active {
        border-bottom: 2px solid #000;
        font-weight: bold;
      }

      .tabContent {
      }
    }

    .bundle {
      margin-top: 4rem;

      .bundleTitle {
      }
    }
  }
}
