.wrapper {
  max-width: 466px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mainImageWrapper {
  position: relative;
  min-height: 466px;
  width: 100%;
  // aspect-ratio: 1 / 1;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #c7c2d6;
  padding: 8px 96px;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  //   background: white;
  //   border: 1px solid #c2b6dd;
  //   padding: 6px;
  cursor: pointer;

  img {
    width: 48px;
    height: 48px;
  }
}

.arrowLeft {
  left: 12px;
}
.arrowRight {
  right: 12px;
}

.thumbnailNav {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  img:nth-child(3) {
    border-color: #5e4b8b;
    transform: scale(1.1);
  }
}

.thumbnail {
  width: 87px;
  height: 87px;
  border-radius: 8px;
  border: 2px solid transparent;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #c7c2d6;

  &:hover {
    opacity: 0.7;
  }
}
