// @font-face {
//   font-family: "RobotoLight";
//   src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype");
//   font-weight: 300;
//   font-style: normal;
// }

.bannerCarousel {
  position: relative;
  width: 100%;
  height: 540px;
  overflow: hidden;

  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
  }

  .slide-0 {
    background-image: url("../../assets/backgrounds/header-bg-1-desktop.png");
  }

  .slide-1 {
    background-image: url("../../assets/backgrounds/header-bg-2-desktop.png");
  }
  .slide-2 {
    background-image: url("../../assets/backgrounds/header-bg-3-desktop.png");
  }
}

.inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  inset: 0;
}

.slide.active {
  display: flex;
  opacity: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
}

.legend {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 600px;
  height: 150px;
  line-height: 56px;
  color: #65558f;
  font-family: "RobotoLight", sans-serif;
  font-size: 48px;
  // text-align: start;
  margin-bottom: 24px;
}

.bannerText {
  // margin-left: 112px;
  // height: 242px;
  
  padding: 0px 160px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.dot {
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 50%;
  margin-right: 24px;
  cursor: pointer;
  transition: background 0.5s;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.dot.active {
  background: #65558f;
}

.bannerButton {
  // font-family: "Roboto-Medium", sans-serif;
  font-size: 26px;
  background-color: #65558f;
  color: #fff;
  border-radius: 100px;
  height: 75px;
  width: auto;
  padding: 23px 58px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #716298;
    color: #fff;
  }
  &:focus {
    background-color: #8275a5;
    color: #fff;
  }
  &:active {
    background-color: #8275a5;
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .bannerText {
    padding: 0px 112px;
    .legend {
      max-width: 480px;
    }
  }
  .bannerCarousel {
    .slide-0 {
      background-image: url("../../assets/backgrounds/header-bg-1-tablet.png");
    }
    .slide-1 {
      background-image: url("../../assets/backgrounds/header-bg-2-tablet.png");
    }
    .slide-2 {
      background-image: url("../../assets/backgrounds/header-bg-3-tablet.png");
    }
  }
}

@media (max-width: 918px) {
  .bannerCarousel {
    .slide-0 {
      background-image: url("../../assets/backgrounds/header-bg-1-tablet.png");
    }
    .slide-1 {
      background-image: url("../../assets/backgrounds/header-bg-2-tablet.png");
    }
    .slide-2 {
      background-image: url("../../assets/backgrounds/header-bg-3-tablet.png");
    }
  }
}

@media (max-width: 800px) {
  .bannerCarousel {
    .slide-0 {
      background-image: url("../../assets/backgrounds/header-bg-1-tablet.png");
    }
    .slide-1 {
      background-image: url("../../assets/backgrounds/header-bg-2-tablet.png");
    }
    .slide-2 {
      background-image: url("../../assets/backgrounds/header-bg-3-tablet.png");
    }
  }
}

@media (max-width: 695px) {
  .slide.active {
    justify-content: flex-start;
    padding-top: 100px;

    .bannerText {
      padding: 0px 24px;
      .legend {
        font-size: 36px;
        max-width: 400px;
        line-height: 100%;
      }
      .bannerButton {
        font-size: 16px;
        height: 48px;
        padding: 10px 24px;
      }
    }
  }
  .bannerCarousel {
    .slide-0 {
      background-image: url("../../assets/backgrounds/header-tablet-1-695.png");
    }
    .slide-1 {
      background-image: url("../../assets/backgrounds/header-tablet-2-695.png");
    }
    .slide-2 {
      background-image: url("../../assets/backgrounds/header-tablet-3-695.png");
    }
  }
}

@media (max-width: 480px) {
  .slide.active {
    justify-content: flex-start;
    padding-top: 60px;

  }
  
  .bannerCarousel {
    .slide-0 {
      background-image: url("../../assets/backgrounds/header-bg-1-mobile.png");
    }
    .slide-1 {
      background-image: url("../../assets/backgrounds/header-bg-2-mobile.png");
    }
    .slide-2 {
      background-image: url("../../assets/backgrounds/header-bg-3-mobile.png");
    }
  }
}
