@font-face {
  font-family: "RobotoLight";
  src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.bannerCarousel {
  position: relative;
  width: 100%;
  height: 540px;
  overflow: hidden;
}

.inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  inset: 0;
}

.slide {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.slide.active {
  display: flex;
  opacity: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
}

.legend {
  max-width: 600px;
  line-height: 56px;
  color: #65558f;
  font-family: "RobotoLight", sans-serif;
  font-size: 48px;
  text-align: start;
  // margin-bottom: 20px;
}

.bannerText {
  margin-top: 40px;
  margin-left: 156px;
  height: 242px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
}

.dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.dot {
  width: 13px;
  height: 13px;
  background: #fff; 
  border-radius: 50%;
  margin-right: 24px;
  cursor: pointer;
  transition: background 0.5s;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.dot.active {
  background: #65558f;
}

.bannerButton {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  background-color: #65558f;
  color: #fff;
  border-radius: 100px;
  height: 75px;
  width: auto;
  padding: 23px 58px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #716298;
    color: #fff;
  }
  &:focus {
    background-color: #8275a5;
    color: #fff;
  }
  &:active {
    background-color: #8275a5;
    color: #fff;
  }
}
