.babyBoxedList {
  background-color: #65558f;

  .cardList {
    background-color: #65558f;
    display: grid;
  }
}
.productList {
  padding: 84px 156px;
  display: flex;
  justify-content: center;

  .container {
    display: inline-block;
    width: auto;
    flex-direction: column;
  }

  .title {
    font-size: 44px;
    color: #65558f;
    margin-bottom: 32px;
  }

  .cardList {
    // display: flex;
    // justify-content: center;
    gap: 24px;
    margin-bottom: 64px;
    width: 100%;
  }

  button {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #65558f;
    border-radius: 100px;
    gap: 8px;
    color: #fff;
  }
}

.product-list.compact .card {
  /* Стилі для компактних карток */
}

.product-list.full .card {
  /* Стилі для повних карток */
}

@media (max-width: 480px) {
  .cardList {
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .babyBoxedList {
    grid-template-columns: 1fr;
  }
}
