.custom-button {
  font-family: "Roboto";
  padding: 10px 20px;
  border: none;
  color: #65558f;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    // background-color: #0056b3;
  }

  &:focus {
    outline: none;
  }
}
