.wrapper {
  //   max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 84px 156px;

  .title {
    font-size: 44px;
    line-height: 100%;
    color: #65558f;
    margin-bottom: 34px;
  }

  .subcategories {
    margin-bottom: 64px;
  }

  .grid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, minmax(170px, 1fr));
    margin-bottom: 64px;
    gap: 24px;
    width: 100%;

    .noProducts {
      grid-column: 1 / -1;
      text-align: center;
      font-size: 1.2rem;
      padding: 2rem;
      color: #666;
    }
  }

  .products {
    width: 100%;
    .pagination {
      margin: auto;
      text-align: center;
      button,
      span {
        color: #65558f;
        font-size: 20px;
        font-weight: 400;
        margin-right: 4px;
      }
      .pageBtn {
        width: 24px;
        height: 24px;
        border-radius: 8px;
      }
      .active {
        background-color: #eaddff;
        border-radius: 8px;
        font-weight: 700;
      }
    }

    .filters {
      margin-bottom: 32px;
      display: flex;
      gap: 32px;
      position: relative;

      .filterBtn {
        display: flex;
        gap: 8px;
        border-radius: 100px;
        border: 1px solid #65558f;
        width: 132px;
        height: 46px;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 9999;
        background: #fff;

        span {
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0.1px;
          color: #65558f;
          white-space: nowrap;
        }
      }
    }
  }
  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
  }
  @media (max-width: 1024px) {
    padding: 64px 24px;
  }
  @media (max-width: 695px) {
    padding: 44px 16px;

    .grid {
      grid-template-columns: repeat(2, minmax(170px, 1fr));
    }
  }

  @media (max-width: 480px) {
    .grid {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
