.container {
  max-width: 1440px;
  margin: 0 auto;
  min-width: 1150px;
}

// html,
// body {
//   height: 100%;
//   margin: 0;
// }

// .layout {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// .main {
//   flex: 1;
//   max-width: 1440px;
//   margin: 0 auto;
// }
