@font-face {
  font-family: "RobotoLight";
  src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.carousel {
}

.carouselInner {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 64px;
  gap: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  width: 132px;
  height: 48px;
  background: #65558f;
  border-radius: 100px;
  margin: auto;
}

.arrow {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.title {
  font-family: "RobotoLight", sans-serif;
  font-size: 44px;
  color: #65558f;
  margin-bottom: 32px;
}

@media (max-width: 920px) {
  
}
@media (max-width: 695px) {
}
@media (max-width: 480px) {
  .carouselInner {
    justify-content: center;
  }
}
