.container {
  position: fixed; // вместо absolute
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  background-color: #ccc;
  border-radius: 1rem;
  padding: 2rem 4rem;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

  h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 2.5rem;
  }
}

.backButton {
  margin-top: 4rem;
  text-transform: uppercase;
  display: block;

  font-size: 2.2rem;
  padding: 2rem 1rem;

  background-color: #000;
  color: #fff;
  border-radius: 0.4rem;

  transition: 0.3s ease-out;

  &:hover {
    transform: scale(1.07) translateY(-3px);
  }
}


@media (max-width: 1024px) {
  .container {
    width: 100%;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
    }
    padding: 1rem;
  }
  .backButton {
    font-size: 2rem;
    padding: 1rem;
  }
}
