@font-face {
  font-family: "ElMessiri";
  src: url("../../assets/fonts/ElMessiri-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  font-family: "Roboto";
  font-weight: 500;
  color: #65558f;

  .logo {
    font-family: "ElMessiri", sans-serif;
    font-size: 34px;
    font-style: normal;
    color: #a982e8;
    margin-right: 68px;
  }

  .topBar {
    display: flex;
    justify-content: space-between;
    // align-items: end;
    padding: 24px 42px 0;
    border-bottom: 2px solid #c7c2d6;
    height: 86px;
    font-size: 18px;

    button {
      color: #65558f;
    }

    .leftButtons {
      display: flex;
      height: 100%;

      button,
      .link {
        // background-color: #a982e8;
        margin-right: 48px;
        white-space: nowrap;
        text-decoration: none;
        color: #65558f;
        display: flex;
        align-items: center;
        &:hover {
          border-bottom: 4px solid #a982e873;
        }
        &:active {
          border-bottom: 4px solid #a982e8;
        }
        &:focus {
          border-bottom: 4px solid #a982e8a6;
        }
      }
    }

    .rightButtons {
      width: 292px;
      display: flex;
      justify-content: space-between;

      button {
        width: 48px;
        height: 48px;
        border-radius: 8px;

        &:hover {
          background-color: #f3f2f6;
        }
        &:focus {
          background-color: #eceaf1;
        }
        &:active {
          background-color: #e5dfed;
        }
      }

      .userDropdownMenu {
        width: 224px;
        top: 56px;
        left: -176px;
        .userDropdownItem {
          margin: 0;
          padding: 10px 24px;
          justify-content: flex-start;
        }
      }
      .langDropdownMenu {
        top: 56px;
        left: -45px;
      }
    }

    .burgerMenu {
      display: none;
      justify-content: center;
      align-items: center;
      margin-right: 44px;
      width: 48px;
      height: 48px;

      img {
        width: 32px;
        height: 22px;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      border: none;

      button {
        font: inherit;
        cursor: pointer;
        transition: color 0.3s;
      }
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 380px;

    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    &.open {
      transform: translateX(0);
    }

    &.activeSidebar {
      transform: translateX(0);
      background-color: #b91919; // Додатковий стиль
    }

    .sidebarHeader {
      display: flex;
      align-items: end;
      height: 86px;
      border-bottom: 2px solid #c7c2d6;
      padding: 0 15px 15px;
      margin-bottom: 51px;
      position: relative;

      .burgerClose {
        width: 40px;
        height: 40px;

        img {
          width: 16px;
          height: 16px;
        }
      }
      .logo {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .sidebarNav {
      display: flex;
      flex-direction: column;
      padding: 0px 16px;
      position: relative;

      .navItem,
      button {
        height: 48px;
        width: auto;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 500;
        color: #65558f;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .navButton {
          color: #65558f;
          &:hover {
            border-bottom: 4px solid #a982e873;
          }
          &:active {
            border-bottom: 4px solid #a982e8;
          }
          &:focus {
            border-bottom: 4px solid #a982e8a6;
          }
        }
      }
      .langDropdown {
        display: none;
        position: relative;
        z-index: 1100;
        margin-top: 47px;

        .langDropdownMenu {
          width: 128px;
          height: 140px;
          position: fixed;
          top: 40%;
          right: 47%;
          transform: translate(50%, -50%);
          z-index: 5555;
          font-size: 18px;
          justify-content: center;
          padding: 0;
          gap: 0;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .sidebarOverlay.langDropdownActive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
  }
}

@media (max-width: 1130px) {
  .header {
    .topBar {
      .leftButtons {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    .topBar {
      padding: 29px 24px 0;
      // align-items: end;

      .burgerMenu {
        display: flex;
      }

      .leftButtons {
        display: none;
      }
    }
  }
}

@media (max-width: 695px) {
  .header {
    .topBar {
      padding: 0px 8px;
      align-items: center;
      position: relative;
      height: 58px;
      .rightButtons {
        justify-content: end;

        button {
          width: 40px;
          height: 40px;
          img {
            width: 19px;
          }
        }

        .search {
          position: absolute;
          left: 48px;
        }

        .userDropdownMenu {
          width: 175px;
          top: 42px;
          left: -144px;
          padding: 16px;
          gap: 0px;
        }
      }

      .langDropdown {
        display: none;
      }

      .logo {
        font-size: 24px;
        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -40%);
       }

      .burgerMenu {
        width: 40px;
        height: 40px;
        img {
          width: 18px;
        }
      }

      .leftButtons {
        display: none;
      }
    }
    .sidebar {
      .sidebarHeader {
        height: 58px;
        padding: 8px 7px;

        .burgerClose {
        }
        .logo {
        }
      }

      .sidebarNav {
        .langDropdown {
          display: flex;
          position: relative;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .header {
    .topBar {
      .rightButtons {
        font-size: 16px;
        button {
          img {
            width: 18px;
          }
        }
      }

      .logo {
      }
    }
    .sidebar {
      .sidebarHeader {
        .burgerClose {
        }
        .logo {
          font-size: 24px;
        }
      }
    }
  }
}
