@font-face {
  font-family: "Roboto-Regular";
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.footer {
  background-color: #6b5b95;
  color: #fff;
  padding: 66px 160px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
}

.upperFooter {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 37px;
  // margin: 30px 10px 30px;
}

.brandSection {
  display: flex;
  width: 55%;
  align-items: flex-start;
  margin-bottom: 20px;
  justify-content: space-between;
}

.title {
  font-family: "El Messiri", sans-serif;
  font-weight: 700;
  font-size: 48px;
  height: 75px;
  display: flex;
  align-items: flex-start;
}

.nav,
.contactSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-top: 16px;
  font-size: 18px;
  line-height: 22px;
  * {
    border-bottom: 2px solid transparent;
  }

  > *:hover {
    border-bottom: 2px solid #fff;
  }
}

.subSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.icon {
  width: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.socialIcons {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  svg {
    height: 25px;
  }
}

.button {
  flex-shrink: 0;
}

.button:hover {
  background-color: #f3f3f3;
}

.divider {
  border: 1px solid #fff;
  width: 100%;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.linkPrivacy {
  font-weight: 400;
  font-size: 13px;
  text-decoration: underline;
  text-align: center;
  color: #fef7ff;
}

.linkPrivacy:hover {
  text-decoration: none;
}

.text {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #fef7ff;
  // border: none;
}

.contactTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  pointer-events: none;

 
}

.contactItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  color: #fff;
  gap: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1px;
  a {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    &:visited,
    &:active,
    &:hover {
      color: inherit;
    }
  }

  &:last-child {
    align-items: flex-start;
  }

  .img {
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 64px 24px;
    gap: 10px;
  }
}

@media (max-width: 720px) {
  .footer {
    padding: 64px 32px;

    .container {
      margin: 0;

      .title {
        align-items: flex-start;
      }

      .contactSection {
        margin-bottom: 44px;
      }
    }

    .brandSection {
      flex-direction: row;
      gap: 50%;
    }
    .nav {
      min-width: 140px;
    }
  }
}
@media (max-width: 480px) {
  .container,
  .divider,
  .footerBottom {
    max-width: 380px;
  }
  .container {
    flex-direction: column;
    gap: 20px;
    nav {
      gap: 5px;
    }
  }
  .subSection {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .brandSection {
    flex-direction: row;
    gap: 30%;
  }
}
